<div class="title-about pt-5 mb-4">
  <div class="container">
     <h1 class="fon-weight-bold mt-4">About Us</h1>
     <hr>  
  </div>
</div>
<div class="container pb-5">
  <p class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
  <p class="my-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>      
</div>

<div class="title-about pt-3 pb-5">
  <div class="container">
     <h1 class="fon-weight-bold">Lorem Title</h1>
     <hr>  
  </div>
</div>

<div class="container">
  <div class="media py-5 bg-light px-3">
      <img class="align-self-center mr-3" src="https://via.placeholder.com/200/dc3545/fff.pngC/O https://placeholder.com/" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">Center-aligned media</h5>
        <p class="mv-2">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <p class="mb-2">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p class="mb-2">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p class="mb-2">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <!-- <button class="btn btn-danger" routerLink="/btn">Read More</button> -->
      </div>
    </div>
    <div class="media py-5 pl-5 pr-2 bg-light">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Media object</h5>
        <p class="mv-2">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <p class="mb-2">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p class="mb-2">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p class="mb-2">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p class="mb-2">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <!-- <button class="btn btn-danger pull-right" routerLink="/btn">Read More</button> -->
      </div>
      <img class="align-self-center mr-3" src="https://via.placeholder.com/200/dc3545/fff.pngC/O https://placeholder.com/" alt="Generic placeholder image">
    </div>      
</div>

